<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <!-- ionic meta tags -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- custom meta tags -->
    <meta name="format-detection" content="telephone=no"> <!-- no auto telephone linking -->

    <meta name="apple-mobile-web-app-capable" content="yes"> <!-- can be saved to home screen on ios -->
    <title><%= answers.appName %></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css main/styles/app.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-app="<%= answers.appModule %>">

    <!-- the nav bar will be updated as we navigate between views -->
    <!-- <ion-nav-bar> can be removed when using sidemenu (contained in menu.html) -->
    <ion-nav-bar class="bar-<%= barColor %>">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- the current view will be rendered in the <ion-nav-view> directive -->
    <ion-nav-view></ion-nav-view>

    <!-- will be a 404 during development -->
    <script src="cordova.js"></script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/app.js -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
