ion-view(view-title='List')
  ion-content
    // content goes here
    ion-list
      ion-item.item-remove-animate.item-avatar.item-icon-right(type='item-text-wrap', ui-sref='<%= moduleName %>.listDetail')
        img(src='main/assets/images/yo@2x.png')
        h2 Mr. Yo
        p Learn more...
        i.icon.ion-chevron-right.icon-accessory
