ion-view(view-title='<%= moduleName %> module')
  // do you want padding?
  ion-content.padding
    // content goes here
    ion-list
      ion-item.item.item-divider
        | This is your
      ion-item.item.item-icon
        | Yeiiii!
