<ion-view view-title="'<%= moduleName %> module'">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        This is your <%= templateName %> template!
      </ion-item>
      <ion-item class="item-icon-right">
        <i class="icon ion-checkmark-circled"></i>
        icons working?
      </ion-item>
      <ion-item class="item-avatar">
        <img src="<%= moduleFolder%>/assets/images/yo@2x.png" />
        images working?
      </ion-item>
      <% if(options.sample === 'start') {%>
        <ion-item>{{someData.binding}} </ion-item>
        <ion-item class="item-divider">Environment variables:</ion-item>
        <ion-item class="item-text-wrap">
          <pre>{{env | json}}</pre>
        </ion-item>
      <% } %>
    </ion-list>
  </ion-content>
</ion-view>
